<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
    />
    <title><%= title %></title>
  </head>
  <body>
    <% if (locals.renameFolder) { %>
    <div
      class="fixed inset-0 bg-gray-300 bg-opacity-10 z-40 flex justify-center items-center"
    >
      <form
        action="/home/<%= folderName %>/rename-folder"
        method="POST"
        class="bg-white rounded-md flex flex-col self-center gap-4 p-6"
      >
        <div class="flex flex-col">
          <label for="folderName">New Folder Name</label>
          <input
            type="text"
            id="folderName"
            name="folderName"
            class="border-gray-600 border-1 rounded-md px-2 py-1"
          />
        </div>
        <div class="flex justify-between items-center">
          <button
            type="button"
            onclick="window.location.href='/home/<%= folderName %>/';"
            class="bg-red-500 transition text-white px-2 py-1 rounded-md font-bold hover:bg-red-700 cursor-pointer w-[80px]"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="bg-blue-500 transition text-white px-2 py-1 rounded-md font-bold hover:bg-blue-600 cursor-pointer w-[80px]"
          >
            Confirm
          </button>
        </div>
      </form>
    </div>
    <% } %>
    <div class="min-h-dvh flex flex-col bg-gray-300 gap-8">
      <nav class="flex justify-between items-center bg-white p-6">
        <h1 class="text-2xl">My Drive</h1>
        <form action="/log-out" method="GET">
          <button
            type="submit"
            class="bg-blue-500 transition text-white px-2 py-1 rounded-md font-bold hover:bg-blue-600 cursor-pointer"
          >
            Log out
          </button>
        </form>
      </nav>
      <div class="p-6 flex flex-col gap-6">
        <div class="flex justify-between items-center bg-white rounded-md p-6">
          <h2 class="text-xl">Home / <%= folderName %> /</h2>
          <div class="flex gap-2 justify-center items-center">
            <form action="/home/<%= folderName %>/upload-file" method="GET">
              <button
                class="bg-blue-500 transition text-white px-2 py-1 rounded-md font-bold hover:bg-blue-600 cursor-pointer"
              >
                Upload File
              </button>
            </form>
            <form action="/home/<%= folderName %>/rename-folder" method="GET">
              <button
                class="bg-blue-500 transition text-white px-2 py-1 rounded-md font-bold hover:bg-blue-600 cursor-pointer"
              >
                Rename Folder
              </button>
            </form>
            <form action="/home/<%= folderName %>/delete-folder" method="POST">
              <button
                class="bg-red-500 transition text-white px-2 py-1 rounded-md font-bold hover:bg-red-900 cursor-pointer"
              >
                Delete Folder
              </button>
            </form>
          </div>
        </div>
        <div class="gap-4 flex flex-wrap justify-start items-center">
          <% if (locals.files) { %> <% files.forEach((file) => { %>
          <!-- <form action="/home/<%= folderName %>" method="GET"> -->
          <button
            type="submit"
            class="bg-white rounded-md px-2 py-1 flex gap-2 justify-between items-center hover:-translate-y-1 transition cursor-pointer"
          >
            <span class="mdi mdi-file"></span>
            <%= file.name %>
          </button>
          <!-- </form> -->
          <% }) %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
